body{
    margin: 0;
}
.header{
   
}

.banner{
    background-image: url("../img/12.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
}
.header__img{
    width: 100%;
    height: 300px;
}

.header__p{
    position:absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    width: 50%;
    
}

.body-pokemon{
    width: 100%;
}

.body__pokemonuno{
    width: 400px;
    display:flex;
    margin: 30px auto 0 auto;
}
.body__pokemon_img{
    width: 200px;
    height:200px;
    float: left; 
    margin-top: 40px;
}

.body__pokemon_text{
   width: 50%;
   height: 300px;
   float: left;
   font-size: 15px;
   padding: 10px;
   background-color: antiquewhite;
   font-style: italic;
}

.footer__img{
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.footer__text{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 100%;
}
